#alert{
    margin-top: 12px;
    background-color: var(--color-danger);
    padding: 12px;

    display: flex;
    flex-direction: row;

    border-radius: 12px;
    
    color: var(--always-white);
    font: var(--label);
    align-items: center;

    justify-content: space-between;

    span{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    img{
        width: 20px;
        height: 20px;
    }

    display: none;
    
}