form{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 40px;
    margin-top: 40px;

    input{
        width: 208px;
        height: 44px;
        background-color: var(--bg-secondary);
        border: 2px solid var(--border-primary);
        font: 400 14px/20px var(--font-family);
        color: var(--bg-primary);
        border-radius: 12px;
        padding-inline: 18px;
    }

    button{
        width: 160px;
        height: 44px;
        all: unset;
        background-color: var(--color-brand);
        font: var(--label);
        color: var(--always-white);
        padding: 12px 24px;
        border-radius: 12px;
    }
}